export(loginWiki)
export(pushWiki)
importFrom(RCurl,postForm)
importFrom(rjson,fromJSON)
importFrom(tcltk,tclvalue)
importFrom(tcltk,tclVar)
importFrom(tcltk,tkbind)
importFrom(tcltk,tkbutton)
importFrom(tcltk,tkdestroy)
importFrom(tcltk,tkentry)
importFrom(tcltk,tklabel)
importFrom(tcltk,tkpack)
importFrom(tcltk,"tktitle<-")
importFrom(tcltk,tktoplevel)
importFrom(tcltk,tkwait.window)
importFrom(tools,file_ext)
importFrom(tools,file_path_sans_ext)
